* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/GothamBold.otf') format('truetype');
}

body{
    background-color: #cecfd0;
    background-image: url("../img/bgpadrao.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Gotham Bold', sans-serif;
    font-size: 32px;
    color: #004a6c;
    text-align: center;
    margin-top: 137px;
}

h2 {
    font-family: 'Gotham Bold', sans-serif;
    font-size: 32px;
    color: #2a3438;
    text-align: center;
    margin-top: 28px;
}

form {
    display: flex;
    justify-content: center;
}

.inputBox{
    display: flex;
    position: absolute;
    margin-top: 150px;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 3px solid #004a6c;
    border-radius: 1.5px;
    outline: none;
    color: #004a6c;
    font-size: 29px;
    width: 365px;
    letter-spacing: 2px;
    padding: 0px 10px;
}

.input{
    position: absolute;
    top: 3px;
    left: 0px;
    margin-left: 5px;
    pointer-events: none;
    transition: 0.3s ;
    font-size: 24px;
    font-family: 'CenturyGothic', sans-serif;
    color: #004a6c;
}

.inputUser:focus ~ .input, 
.inputUser:valid  ~ .input  {
    top: -20px;
    font-size: 12px;
    color: rgb(6, 33, 57);
}

.inputUser:focus:invalid  ~ .input  {
    top: -20px;
    font-size: 12px;
    color: rgb(6, 33, 57);
}

.inputUser:focus:invalid  {
    border-bottom: 3px solid tomato;
}

.setasubmit {
    height: 34px;
    width: 34px;
    cursor: pointer;
    background-image: url('../img/seta-direita.png');
}

#setasubmit img{
    height: 34px;
    cursor: pointer;
}

#setasubmit {
    position: relative;
    right: 36px;
}

#submit {
    display: none;
}